* {
  font-family: "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
  margin-top: 40px;
  scrollbar-width: none;
}

/* prevents scrollbar from displaying*/
::-webkit-scrollbar {
  display: none;
}

h1 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(22, 26, 141);
  -webkit-text-fill-color: rgb(70, 100, 236);
}

button.barButton {
  border: none;
  color: white;
  width: 320px;
  padding: 8px 32px;
  outline: none;
  transition: 0.25s linear;
}

hr {
  border: 1px solid black;
}

/* main page base styling */
.main {
  width: 100%;
  height: 700px;
  margin: auto;
  background-color: rgb(54, 52, 146);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* nav bar */
.topBar {
  position: fixed;
  top: 0;
  right: 0;
  height: 40px;
  width: 100%;
  text-align: right;
  background-color: rgb(82, 82, 189);
}

.topButton {
  width: 200px;
  margin-right: 40px;
  margin-top: 4px;
  background-color: rgba(54, 52, 146, 0.274);
}

/* title area */
.title {
  width: 100%;
  height: 400px;
  background: url(imageplaceholder.jpg) no-repeat center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.titleBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 120px 0px;
  padding: 12px 100px;
  background-color: rgb(103, 115, 180);
}

/* bulk of content that is categorized */
.content {
  width: 100%;
  background-color: rgb(56, 87, 143);
  min-height: 430px;
  padding-bottom: 12px;
}

.bar {
  width: 100%;
  background-color: darkBlue;
}

.costumes {
  display: block;
}

.makeup {
  display: none;
}

#costumeButt {
  background-color: darkSlateBlue;
}

#makeupButt {
  background-color: darkBlue;
}


.category {
  border: 6px solid rgb(197, 63, 39);
  border-radius: 25px;
  background-color: tomato;
  width: 400px;
  margin: 20px;
  user-select: none;
}

.subcategory {
  border: 6px solid rgb(197, 63, 39);
  border-radius: 25px;
  background-color: tomato;
  height: 35px;
  width: 350px;
  margin: 20px;
  margin-left: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s linear;
}

.addStuff {
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  margin-left: 350px;
}

.subcategoryContainer {
  display: none;
}

.itemCard {
  background-color: rgb(73, 113, 160);
  padding: 16px;
  border: 6px solid rgb(51, 79, 112);
  border-radius: 20px;
  width: 250px;
  margin-right: 12px;
}


/* submit page */
.submit {
  display: none;
  background-color: rgb(56, 87, 143);;
  min-height: 95.5vh;
}

.submitBox {
  background-color: rgb(103, 115, 180);
  padding-top: 40px;
  width: 750px;
  min-height: 400px;
  margin: auto;
  text-align: center;
}